.detailsHeaderContainer{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    /* width: 100%; */
    margin: 0 5rem 0 5rem;
    max-width: 50rem;

}
.headerDetails{
    z-index: 2;
}

/* responsiveness */
@media screen and (max-width: 800px) {
    .detailsHeaderContainer{margin: 1rem;}
  }

