.mainHeading {
  margin: 0;
  background-color: #ed213a;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
