.tabBtn {
  padding: 0.5rem 2rem;
  border-radius: 500rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 0;
  width: 10rem;
}

.active {
  background: #ed213a;
  color: white;
}

.tabContainer {
  margin: 2rem 0;
  display: flex;
  background: #ed213a;
  border-radius: 500rem;
  max-width: fit-content;
}
