.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
    color: white;
    z-index: 999;
    position: relative;
    margin: 5rem;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .footer{
        margin: 1rem;
        padding: 1rem;
    }
}