.navBar {
  margin: 2rem 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 600;
}

.highlight {
  color: #ed213a;
}

/* responsiveness */
@media screen and (max-width: 800px) {
  .navBar {
    margin: 1rem;
  }
}
